<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Customer Order System</title>
    <link rel="stylesheet" href="/static/styles.css"> 
</head>
<body>
    <div class = "header-container">
        <header class = "header">
            <h1 class = "title"> Customer Order System</h1>
        
        </header>
    </div>
    
    <div class = "change-view"> 
        <h2>Current View: {{ title }}</h2>
        <button id="view-button" onclick="window.location.href='/customer'">Change View</button>
    </div>


    <div class = "button-container">
        <button onclick="window.location.href='/vendor'">Vendor</button>
        <button onclick="window.location.href='/customer'">Customer</button>
        <button onclick="window.location.href='/line'">Line</button>
        <button onclick="window.location.href='/invoices'">Invoices</button>
        <button onclick="window.location.href='/products'">Products</button>
    </div>

    <div class="results-search">
        <p id="num-results">Showing {{ data|length }} results</p>
        <p id="advanced-search">Advanced Search</p>
    </div>
     
     <!--pagination WIP -->
    <div class = "table-container"> <!--https://flask.palletsprojects.com/en/stable/templating/#jinja-setup 
         WIP for dynamic content-->
         <table>
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for row in data %}
                    <tr>
                        {% for column in columns %}
                        <td>{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{{ columns|length }}">No data available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>